<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
    <ejb-local-ref>
        <ejb-ref-name>PaisesFacade</ejb-ref-name>
        <ejb-ref-type>Session</ejb-ref-type>
        <local>edu.pucmm.pw.servicios.PaisesFacade</local>
    </ejb-local-ref>
    <ejb-local-ref>
        <ejb-ref-name>CiudadesFacade</ejb-ref-name>
        <ejb-ref-type>Session</ejb-ref-type>
        <local>edu.pucmm.pw.servicios.CiudadesFacade</local>
    </ejb-local-ref>
    <ejb-local-ref>
        <ejb-ref-name>SexoFacade</ejb-ref-name>
        <ejb-ref-type>Session</ejb-ref-type>
        <local>edu.pucmm.pw.servicios.SexoFacade</local>
    </ejb-local-ref>
    <ejb-local-ref>
        <ejb-ref-name>UsuariosFacade</ejb-ref-name>
        <ejb-ref-type>Session</ejb-ref-type>
        <local>edu.pucmm.pw.servicios.UsuariosFacade</local>
    </ejb-local-ref>
    <ejb-local-ref>
        <ejb-ref-name>PersonasFacade</ejb-ref-name>
        <ejb-ref-type>Session</ejb-ref-type>
        <local>edu.pucmm.pw.servicios.PersonasFacade</local>
    </ejb-local-ref>
    <ejb-local-ref>
        <ejb-ref-name>PostsFacade</ejb-ref-name>
        <ejb-ref-type>Session</ejb-ref-type>
        <local>edu.pucmm.pw.servicios.PostsFacade</local>
    </ejb-local-ref>
    <ejb-local-ref>
        <ejb-ref-name>ComentariosFacade</ejb-ref-name>
        <ejb-ref-type>Session</ejb-ref-type>
        <local>edu.pucmm.pw.servicios.ComentariosFacade</local>
    </ejb-local-ref> 
    <ejb-local-ref>
        <ejb-ref-name>TipoLugaresFacade</ejb-ref-name>
        <ejb-ref-type>Session</ejb-ref-type>
        <local>edu.pucmm.pw.servicios.TipoLugaresFacade</local>
    </ejb-local-ref>       
    <ejb-local-ref>
        <ejb-ref-name>RolesFacade</ejb-ref-name>
        <ejb-ref-type>Session</ejb-ref-type>
        <local>edu.pucmm.pw.servicios.RolesFacade</local>
    </ejb-local-ref> 
</web-app>
